/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
html{
    overflow-y: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
}

/*UTILITIES*/
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.c-yellow{
    color: yellow;
    text-shadow: 2px 2px 3px white;
}
.c-green{
    color: green;
    text-shadow: 2px 2px 3px red;
}

/*MAIN*/

/*CREO LA PRIMA PAGINA*/
.page{
    height: 100vh;
    position: relative;
}
.page-card{
    position:absolute;
    left:50%;
    top:50%;
    translate: -50% -50%;
}
.page-text{
    text-align: center;
    font-size:2.3rem;
    font-weight: 900;
}

/*CREO LA NAV BAR*/
.nav-bar{
    position: fixed;
    right: 20px;
    top: 30px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    display: block;
}
.menu li{
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
}

.menu li:hover{
    scale: 1.2;
    box-shadow: 0px 0px 20px darkred;
}
.menu li:active{
    scale: 0.8;
}
.menu a:active{
    color: gray;
    text-shadow: 0px 0px 20px black;
}