/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    font-family: 'Rubik Mono One', sans-serif;
}

/*UTILITIES*/
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.c-yellow{
    color: yellow;
    text-shadow: 2px 2px 3px white;
}
.c-green{
    color: green;
    text-shadow: 2px 2px 3px red;
}

/*MAIN*/
/*CREO LA PRIMA PAGINA*/
.page{
    height: 100vh;
    position: relative;
}
.page-card{
    position:absolute;
    left:50%;
    top:50%;
    translate: -50% -50%;
}
.page-text{
    text-align: center;
    font-size:3rem;
    font-weight: 900;
}